IP_MEMORIA=127.0.0.1
IP_KERNEL=127.0.0.1
PUERTO_MEMORIA=9090
PUERTO_ESCUCHA=10216
ALGORITMO_PLANIFICACION=SJF
ESTIMACION_INICIAL=1000
ALFA=1
DISPOSITIVOS_IO=[laguna]
DURACIONES_IO=[2500]
GRADO_MULTIPROGRAMACION=5
GRADO_MULTIPROCESAMIENTO=5
TIEMPO_DEADLOCK=50000
MEMORIA_ACTIVADA=1
DEADLOCK_ACTIVADO=1
LOGUEAR_MENSAJES_COLAS=0